.btn{
	.transition(0.2s);
	.fp;
	.border-radius(15px);
	margin: 0;
	padding: 0 20px;
	border : 0;
	height: 30px;
	line-height: 30px;
	font-size: @fsp;
	font-weight: 300;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap;
	overflow: visible;
	color: #fff;
	outline: none;
	text-align: center;
	background: #fff;
	background: fade(#fff,40%);
	&:hover{
		color: #2f383d;
		background: fade(#fff,60%);
	}
}
