// fonts
.fp {font-family: 'Source Sans Pro',sans-serif;} // font primary
.fh {font-family: 'Open Sans Condensed',sans-serif;} // font header
.fi {font-family: sans-serif;} // font icon

// body
@bb: #e9e6d5; // body background

// colors
@cp: #fff; // color primary
@cl: #c6ffa8; // color link
@blue: #063851;

// font sizes
@fsp: 18px; // font size primary
@fsh1: 36px; // font size h1
@fsh2: 28px; // font size h2
@fsh3: 24px; // font size h3
@fsh4: 20px; // font size h4
@fsh5: @fsp; // font size h5
@fsh6: @fsp; // font size h6

// line heights
@lh1: 1; // line height 1
@lhh: 1.2; // line height header
@lhp: 1.4; // line height primary

// layout
@content-width: 960px;
@content-padding: 20px;