#page {
	min-width: @content-width;
	background: #0070a8 url(../images/bg/01.jpg) top;
}
#wrapper {
	.clearfix;
	min-width: @content-width;
	background: url(../images/bg/05.jpg) no-repeat top;
}
#page-header {
	.logo {
		position: absolute;
		left: 20px;
		top: 70px;
		a {
			display: block;
			text-indent: -9999px;
			width: 200px;
			height: 150px;
		}
	}
}
#col-top {
	float: right;
	width: 610px;
	float: right;
	background: url(../images/bg/06.png) no-repeat bottom;
}
#content {
	margin: 0 0 50px;
}
#col-bottom {
	min-width: @content-width;
	background: url(../images/bg/02.jpg) repeat-y top;
}
#page-footer {
	padding: 32px 0;
	.xart {
		text-align: center;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: normal;
		img {
			display: block;
			margin: 0 auto 5px;
		}
		a {
			display: block;
			width: 160px;
			margin: auto;
			color: #2f383d;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.copy {
		text-align: center;
		font-size: 15px;
		color: #2f383d;
		font-weight: normal;
		p {
			margin: 13px 0;
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		.border-radius(25px);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: #005291;
		color: #fff;
		text-decoration: none;
		&:before{
			font-family: sans-serif;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\21D1';
			font-size: 20px;
		}
		&:hover{
			background: lighten(#005291,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}