.mod_breadcrumbs{
	ul{
		.rul;
		.clearfix;
		margin: 20px 0;
		li{
			float: left;
			margin-right: 15px;
			font-size: 13px;
			font-weight: 600;
			a {
				color: @cp;
			}
			&:before{
				top: 3px;
			}
		}
	}
}
.mod_custrom-intro {
	min-width: @content-width;
	background: url(../images/bg/01.jpg) top;
	.inner {
		min-width: @content-width;
		height: 980px;
		background: url(../images/bg/09.jpg) no-repeat top;
	}
	.logo {
		a {
			position: absolute;
			top: 380px;
			left: 380px;
			height: 200px;
			width: 200px;
			text-indent: -9999px;
		}
	}
	ul {
		.rul;
		li {
			.rli;
			a {
				.fh;
				display: block;
				position: absolute;
				color: #fff;
				text-transform: uppercase;
				font-size: 24px;
				line-height: 1.1;
				text-decoration: none;
				text-align: center;
				&:before{
					.transition(0.2s);
					position: absolute;
					content: '';
					-webkit-opacity: 0;
					-moz-opacity: 0;
					opacity: 0;
					filter:alpha(opacity=0);
				}
				&:hover{
					color: @cl;
					&:before{
						-webkit-opacity: 1;
						-moz-opacity: 1;
						opacity: 1;
						filter:alpha(opacity=1);
					}
				}
			}
			&.item-01 a {
				top: 60px;
				left: 348px;
				width: 220px;
				height: 280px;
				font-size: 32px;
				background: url(../images/icon/13.png) no-repeat 16px 78px;
				&:before{
					width: 220px;
					height: 194px;
					top: 78px;
					left: 16px;
					background: url(../images/icon/13.png) no-repeat 0 -194px;
				}
			}
			&.item-02 a {
				text-align: left;
				top: 330px;
				left: 630px;
				width: 326px;
				height: 150px;
				padding: 24px 0 0 178px;
				background: url(../images/icon/14.png) no-repeat -27px -2px;
				&:before{
					width: 189px;
					height: 218px;
					top: -26px;
					left: -27px;
					background: url(../images/icon/14.png) no-repeat 0 -194px;
				}
			}
			&.item-03 a {
				text-align: left;
				top: 333px;
				left: 30px;
				width: 260px;
				height: 150px;
				padding: 22px 177px 0 0;
				text-align: right;
				background: url(../images/icon/17.png) no-repeat 95px -27px;
				&:before{
					width: 190px;
					height: 207px;
					top: -27px;
					left: 95px;
					background: url(../images/icon/17.png) no-repeat 0 -207px;
				}
			}
			&.item-04 a {
				text-align: left;
				top: 625px;
				left: 535px;
				width: 250px;
				height: 150px;
				padding: 153px 0 0 142px;
				background: url(../images/icon/15.png) no-repeat -63px -29px;
				&:before{
					width: 219px;
					height: 183px;
					top: -18px;
					left: -63px;
					background: url(../images/icon/15.png) no-repeat 0 -194px;
				}
			}
			&.item-05 a {
				text-align: left;
				top: 625px;
				left: 120px;
				width: 260px;
				height: 150px;
				padding: 154px 140px 0 0;
				text-align: right;
				background: url(../images/icon/16.png) no-repeat 104px -55px;
				&:before{
					width: 191px;
					height: 207px;
					top: -55px;
					left: 104px;
					background: url(../images/icon/16.png) no-repeat 0 -207px;
				}
			}
		}
	}
}
.mod_search {
	position: relative;
	z-index: 1;
	float: right;
	width: 35px;
	height: 52px;
	margin: 0 0 0 12px;
	input {
		.rin;
		.transition;
		.border-radius(18px);
		.fp;
		font-weight: 300;
		position: absolute;
		top: 9px;
		right: 35px;
		height: 35px;
		width: 0;
		padding: 9px 0;
		color: #fff;
		background: @blue;
		font-size: 15px;
	}
	button {
		.rin;
		position: absolute;
		top: 9px;
		right: 0;
		text-indent: -9999px;
		width: 35px;
		height: 35px;
		&:before{
			position: absolute;
			content: '';
			left: 10px;
			top: 10px;
			width: 18px;
			height: 17px;
			background: url(../images/icon/12.png) no-repeat;
		}
	}
	&:hover {
		input {
			width: 180px;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}
.mod_menu-top {
	position: relative;
	float: right;
	padding: 17px 0 14px;
	ul {
		.rul;
		li {
			.rli;
			float: left;
			font-size: 14px;
			font-weight: normal;
			color: @blue;
			margin: 0 0 0 10px;
			&:before{
				.fp;
				font-weight: normal;
				font-size: 13px;
				position: static;
				content: '/';
				margin: 0 12px 0 0;
			}
			a {
				text-decoration: none;
				color: @blue;
				&:hover{
					text-decoration: underline;
				}
			}
			&.act {
				a {
					color: #fff;
				}
			}
			&:first-child {
				&:before{
					display: none;
				}
			}
		}
	}
}
.mod_menu-main {
	.clearfix;
	clear: both;
	position: relative;
	padding: 29px 0 0;
	margin: 0 -3px 0;
	&>ul {
		.rul;
		.clearfix;
		float: right;
		&>li {
			.rli;
			position: static;
			float: left;
			margin: 0 0 0 16px;
			padding: 0 0 93px;
			&>a {
				.fh;
				position: relative;
				display: block;
				width: 110px;
				height: 175px;
				color: #fff;
				font-size: 18px;
				line-height: 1.2;
				text-align: center;
				text-transform: uppercase;
				text-decoration: none;
				background: url(../images/icon/01.png) no-repeat 0 52px;
				&:before {
					.transition(0.5s);
					position: absolute;
					content: '';
					bottom: 0;
					left: 0;
					width: 100%;
					height: 123px;
					background: url(../images/icon/01.png) no-repeat 0 -123px;
					-webkit-opacity: 0;
					-moz-opacity: 0;
					opacity: 0;
					filter:alpha(opacity=0);
				}
				&:hover{
					color: @cl;
					&:before{
						-webkit-opacity: 1;
						-moz-opacity: 1;
						opacity: 1;
						filter:alpha(opacity=100);
					}
				}
			}
			&.act {
				a {
					&:before{
						-webkit-opacity: 1;
						-moz-opacity: 1;
						opacity: 1;
						filter:alpha(opacity=100);
					}
				}
			}
			&.has-child:hover>a {
				&:after{
					position: absolute;
					content: '';
					top: 100%;
					left: 50%;
					width: 1px;
					height: 40px;
					background: fade(#fff,50%);
				}
			}
			&.item-01>a, &.item-01>a:before {
				background-image: url(../images/icon/01.png);
			}
			&.item-02>a, &.item-02>a:before {
				background-image: url(../images/icon/02.png);
			}
			&.item-03>a, &.item-03>a:before {
				background-image: url(../images/icon/03.png);
			}
			&.item-04>a, &.item-04>a:before {
				background-image: url(../images/icon/04.png);
			}
			&.item-05>a, &.item-05>a:before {
				background-image: url(../images/icon/05.png);
			}
			&:hover{
				ul {
					display: block;
				}
			}
		}
		ul {
			.rul;
			display: none;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 100%;
			padding: 15px 0;
			text-align: center;
			font-size: 17px;
			background: url(../images/bg/07.png) repeat-y center;
			&:before,&:after{
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				width: 100%;
				height: 7px;
				background: url(../images/bg/08.png) no-repeat bottom;
			}
			&:after{
				top: auto;
				bottom: 0;
				background-position: top;
			}
			li {
				.rli;
				display: inline-block;
				margin: 0 18px;
				a {
					text-decoration: none;
					color: #fff;
					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
}
.mod_custom-offer {
	padding: 62px 0 123px;
	.mod-title {
		font-size: 24px;
		line-height: 1.2;
		font-weight: bold;
		margin: 0 0 28px;
	}
	.row {
		margin: 0 -20px;
	}
	.item {
		.clearfix;
		float: left;
		width: 50%;
		padding: 0 20px;
		margin: 0 0 38px;
		line-height: 1.2;
		img {
			float: left;
		}
		p {
			margin: 5px 0 10px 98px;
		}
	}
}
.mod_menu-footer {
	padding:  33px 0 36px;
	ul {
		.rul;
		text-align: center;
		li {
			.rli;
			display: inline;
			font-size: 15px;
			font-weight: normal;
			margin: 0 13px 0 0;
			color: #2f383d;
			white-space: nowrap;
			&:before{
				position: static;
				content: '|';
				font-size: 15px;
				margin: 0 13px 0 0;
			}
			a {
				color: #2f383d;
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
			&:first-child {
				&:before{
					display: none;
				}
			}
		}
	}
}