nav.more{
	margin: 20px 0;
	text-align: right;
	a{
		.btn;
		&:after{
			.fi;
			position: relative;
			content: '>';
			margin: 0 0 0 10px;
		}
	}
}
table.normal{
	margin:0 0 20px 0;
	width:100%;
	color: #2f383d;
	background: url(../images/bg/03.jpg) top;
	a {
		color: #2f383d;
	}
	th,td{
		padding:6px 8px;
		border:1px solid #0070a8;
		font-weight:300;
	}
	&.compact th,&.compact td{
		padding:2px 8px;
	}
	tr:nth-child(odd) td{
		background: fade(#fff,30%);
	}
	th,thead td{
		font-weight: 600;
		background: fade(#000,20%)!important;
	}
	tfoot td{
		background: fade(#000,10%)!important;
	}
}
table.info{
	margin:0 0 20px 0;
	td,th{
		padding:0 7px 0 0;
	}
}
form.normal{
	margin:0 0 20px 0;
	label{
		display:block;
		margin:0 0 10px 0;
		font-weight:600;
	}
	.optgroup label{
		display:inline;
		font-weight:300;
	}
	input[type=text],input[type=email],input[type=password],textarea,select{
		.border-radius(15px);
		position: relative;
		border: 1px solid lighten(@cp,50%);
		border-bottom-color: #fff;
		border-right-color: #fff;
		font-size: 16px;
		line-height: 17px;
		margin: 0 3px 5px 0;
		width: 198px;
		height: 30px;
		padding: 6px 16px;
		color: #2f383d;
		background: url(../images/bg/03.jpg) top;
		outline: 0;
	}
	input.input-mini{
		width:30px;
		padding-left:0;
		padding-right:0;
		text-align:center;
	}
	input.input-small{
		width:125px;
	}
	input.input-large{
		width:300px;
	}
	textarea{
		padding:10px;
		width:auto;
		height:auto;
	}
	select{
		width:auto;
		height:auto;
		padding: 2px 6px;
	}
	select[multiple]{
		.border-radius(15px 0 0 15px);
	}
	input[type=text]:hover,input[type=email]:hover,input[type=password]:hover,textarea:hover,select:hover,
	input[type=text]:focus,input[type=email]:focus,input[type=password]:focus,textarea:focus,select:focus{
		.box-shadow(0 0 10px rgba(0,0,0,0.2));
	}
	.fileinputs{
		.clearfix;
		position:relative;
		overflow:hidden;
		display:inline-block;
		cursor:default;
		input.type-file{
			position:absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			border: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			cursor: default;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.input-file-text{
			.border-radius(15px 0 0 15px);
			border-right: 0;
			float: left;
			margin-right: 0;
			padding-right: 0;
		}
		.normal-button{
			.border-radius(0 15px 15px 0);
			float: left;
			height: 30px;
			line-height: 30px;
			background-position: 0 -5px;
		}
	}
	.normal-button{
		.btn;
		padding: 0 20px;
	}
	a.normal-button{
		display:inline-block;
		text-decoration:none;
		line-height:28px;
	}
	.fileinputs:hover .normal-button{
		color: #2f383d;
		background: fade(#fff,60%);
	}
}
.search-results .highlight,.results .highlight{
	background: fade(#000,20%);
	padding: 0 3px;
}
.pagehub{
	clear: both;
	text-align: center;
	padding: 20px 0;
	a,span{
		.btn;
		padding: 0;
		width: 30px;
		height: 30px;
		line-height: 30px;
		background-position: 0 -5px;
	}
	a:hover{
		background-position: 0 -55px;
	}
	span.pagenav{
		color: #2f383d;
		background: fade(#fff,80%);
	}
	.pagenav-ico{
		opacity: 0.5;
		-moz-opacity: 0.5;
		filter: alpha(opacity=50);
		cursor: default;
	}
}
.clear-decor,.description_separator,.article_separator{
	clear: both;
	margin: 30px 0;
	height: 7px;
	background: url(../images/bg/08.png) no-repeat bottom;
}
img.img-left,img[align=left]{
	float: left;
	margin: 6px 15px 5px 0;
}
img.img-right,img[align=right]{
	float: right;
	margin: 6px 0 5px 15px;
}
a.xeditorpopup img{
	.transition(0.2s);
	padding: 1px;
	border: 2px solid lighten(@cp,50%);
}
a.xeditorpopup:hover img{
	border-color: @cl;
}
#system-message dt{
	display:none;
}
#system-message{
	.message{
		padding: 8px 14px;
		margin: 0 0 15px 0;
		color: #fff;
		background: @cl;
		ul{
			.rul;
			li{
				.rli;
			}
		}
	}
	.notice{
		background: lighten(@cl,20%);
	}
	.warning,.error{
		background-color: @cl;
	}
}
